[user]
    name = Wisnu G Saputra
    email = wisnuwiry@gmail.com

[includeIf "gitdir:/Users/wisnusaputra/Works/ZeroOne"]
    [user]
        name = Wisnu Ginanjar Saputra
        email = wisnu@zero-one-group.com
